$mainblock: #3a4e61
$gray: #9fb0c0
$green: #1dd2af

.SearchMenuMain
	background-color: $mainblock
.SearchMenu-Holidays
	font-family: "RobotoRegular"
	color: $gray
	font-size: 17px
	p
		float: right
		border-right: 1px solid $gray
		padding-right: 10px 
		margin-bottom: 0px
		padding-top: 15px
		padding-bottom: 20px
	&::after
		content: ""
		position: absolute
		width: 10px
		height: 10px
		background-color: $mainblock
		border-left: 1px solid $gray
		border-top: 1px solid $gray
		display: block
		transform: rotate(135deg)
		bottom: 31px
		right: 10px
	span:last-child
		text-transform: uppercase
		color: #ffffff 
.SearchMenu-Search
	font-family: "RobotoLight"
	font-size: 17px
	color: $gray
	flex-wrap: nowrap
	p
		margin-left: 20px
		margin-right: 20px
		margin-top: 8px
	input
		width: 300px
		height: 41px
		outline: none
		border: 1px solid $gray
	form
		display: flex	
	input[placeholder]
  		line-height: 1.5
  		text-align: left
  		color: #8a8a8a
.SearchMenu-Button
	font-family: "RobotoRegular"
	font-size: 17px
	color: #ffffff
	border: none
	outline: none
	background-color: $green
	padding: 11px
	padding-right: 16px
	padding-left: 16px
	margin-bottom: 2px
button
    cursor: pointer

// Modal Form
.RegisterModal
	padding-top: 20px
	padding-bottom: 20px
	padding-right: 20px
	padding-left: 20px
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	h3
		font-family: "RobotoBold"
		font-weight: bold
		color: #2c3e50
		font-size: 30px
	input[type='submit']
		background-color: #1dd2af
		padding: 8px 15px
		color: white
		cursor: pointer
		margin-left: 60px
		margin-top: 25px
	input[type='text']	
		width: 200px
		height: 30px
		border: 1px solid $gray
		border-radius: 5px
	input[type='password']	
		width: 200px
		height: 30px
		border: 1px solid $gray
		border-radius: 5px
	input[type='email']	
		width: 200px
		height: 30px
		border: 1px solid $gray
		border-radius: 5px
	label
		font-family: "RobotoRegular"
		font-size: 20px
		font-weight: 300
		padding-top: 5px
		line-height: 1.4
		color: #9fb0c0
	input[placeholder]
    	line-height: 1.5
    	padding-left: 5px
    	color: #8a8a8a
	span
		padding-top: 10px
		font-size: 14px
		a
			color: #1dd2af
			&:hover
				text-decoration: none
	input[type='search']
		width: 310px
		height: 45px
		border: 1px solid $gray
	button
		font-family: "RobotoRegular"
		font-size: 17px
		color: #ffffff
		border: none
		outline: none
		background-color: $green
		padding: 13px
		margin-left: 10px
	#reg_submit_reg
		margin-left: 46px

