html,
body {
  height: 100%;
}
body {
  font-family: "RobotoRegular", sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}
/* global style */
button[type='submit'], input[type='submit']{
  border: none;
}
li{
  list-style: none;
}
img {
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}
/* underline */
.header_topline {
  background-color: #3a4e61;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1.48;
}
.header_topline a:hover {
  color: #1dd2af;
  text-decoration: none;
}
.header_topline a {
  font-family: "RobotoRegular", sans-serif;
}
.soc_button {
  float: right;
}
.soc_button a {
  color: white;
  padding-right: 15px;
}
.login_contact {
  float: left;
  margin-left: 2px;
}
.login_contact p {
  float: left;
  margin: 0;
  color: #fff;
  font-size: 12px;
  margin-top: 2px;
  font-family: "RobotoRegular", sans-serif;
}
.login_contact span {
  padding-right: 15px;
  font-size: 12px;
}
.login_contact a {
  color: #1dd2af;
  text-decoration: none;
  font-size: 12px;
  padding-right: 20px;
}
#logadm {
  color: white;
}
#logadm:hover {
  color: #1dd2af;
}
/* logosite */
.logo_site {
  font-family: "RobotoBold", sans-serif;
  font-size: 30px;
  color: #2c3e50;
  font-weight: bold;
  text-decoration: none;
}
.logo_site:hover {
  text-decoration: none;
  color: #2c3e50;
}
.logo_site span {
  color: #1dd2af;
}
/* Menu site */
.main_menu {
  float: right;
  position: relative;
  margin-left: 450px;
}
#mobile-menu {
  z-index: 2;
}
/* Menu Button */
.toggle-mnu {
  display: block;
  width: 32px;
  height: 28px;
  margin-top: 8px;
}
.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}
.toggle-mnu span:after {
  top: 18px;
}
.toggle-mnu span {
  position: relative;
  display: block;
}
.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}
.toggle-mnu.on span {
  background-color: transparent;
}
.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
  -ms-transform: rotate(45deg) translate(-1px, 0px);
  transform: rotate(45deg) translate(-1px, 0px);
}
.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
  -ms-transform: rotate(-45deg) translate(6px, -7px);
  transform: rotate(-45deg) translate(6px, -7px);
}
/* button menu */
.toggle-mnu {
  float: right;
  position: absolute;
  right: 0;
}
/*Menu Button End*/
/* menu header style */
.header_under {
  padding: 30px 0;
  background-color: #ffffff;
  box-shadow: 0px 3px 1px 0 rgba(0, 0, 0, 0.25);
}
.main_menu .sf-menu {
  margin: 8px 17px 0 0;
}
.main_menu .sf-menu a {
  background: #fff;
  color: #5d6e80;
  font-size: 15px;
  font-family: "RobotoMedium", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.main_menu .sf-menu a:hover {
  color: #1dd2af;
  transition: all 0.4s ease;
  text-decoration: none;
}
.main_menu .sf-menu .active a {
  color: #1dd2af;
}
.main_menu .sf-menu li {
  background: #fff;
}
.main_menu .sf-menu li a {
  padding: 0 15px 0 0;
}
.main_menu .sf-menu .submenu {
  margin-top: 20px;
}
.main_menu .sf-menu .submenu a {
  background: #fff;
}
.main_menu .sf-menu .submenu li {
  border-bottom: 1px solid #f4f4f4;
}
.main_menu .sf-menu .submenu li a {
  padding: 10px 20px;
  font-size: 13px;
}
/* search menu */
.search_menu {
  position: absolute;
  float: right;
  border: 3px solid #2c3e50;
  border-radius: 50%;
  padding: 8px 10px;
  margin-left: 455px;
  top: -3px;
}
.search_menu a {
  color: #2c3e50;
  margin-top: 10px;
}
.search_menu a:hover {
  color: #1dd2af;
  transition: all 0.4s ease;
}
/* slider */
.slider {
  margin: 0;
}
.carousel-item img {
  min-width: 100%;
  height: 600px;
}
.but_prev {
  padding: 20px;
  position: absolute;
  left: 0;
  background-color: #4d4b4b;
}
.but_next {
  padding: 20px;
  position: absolute;
  right: 0;
  background-color: #4d4b4b;
}
.but_next:hover {
  background-color: #1dd2af;
}
.but_prev:hover {
  background-color: #1dd2af;
}
.but_prev > span {
  margin-top: 3px;
  margin-right: 3px;
}
.but_next > span {
  margin-top: 3px;
  margin-left: 3px;
}
.slider-info {
  margin-bottom: 165px;
}
.slider-info h3 {
  font-family: "RobotoBold";
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
}
.slider-info p {
  font-family: "RobotoMedium";
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
}
.slider-btn > a {
  border-radius: 2.9px;
  padding: 15px 20px;
  border: solid 1px #ffffff;
  font-family: "RobotoMedium";
  font-size: 15px;
  line-height: 5;
  text-align: left;
  color: #ffffff;
  margin-right: 28px;
}
.slider-btn > a:hover {
  background-color: #1dd2af;
  border: solid 1px #1dd2af;
  transition: all 0.6s ease;
  text-decoration: none;
  color: #ffffff;
}
/*event page more */
.SpecialOffers {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.SpecialOffers p {
  font-family: "RobotoMedium";
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #2c3e50;
  text-transform: uppercase;
}
.SpecialOffers span:last-child {
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: #626262;
  font-family: "RobotoRegular";
  text-transform: none;
}
/* event more */
.EventPageBig {
  padding-top: 55px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.EeventPageSmall {
  width: 268px;
  margin-top: 10px;
  transition: height 0.7s ease;
  height: 250px;
  box-shadow: 0px 2px 1px 0 rgba(194, 193, 193, 0.75);
  background-color: #eeeeee;
  border: solid 5px #eeeeee;
}
.EeventPageSmall img {
  width: 266.7px;
  height: 192.8px;
}
.EeventPageSmall p {
  font-family: "RobotoRegular";
  font-size: 14.5px;
  line-height: 1.1;
  text-align: left;
  margin-top: 13px;
  margin-left: 10px;
  cursor: default;
  color: #626262;
  transition: margin-top 0.7s ease;
}
.EeventPageSmall span {
  font-size: 13.5px;
  line-height: 1.26;
  color: #8899a8;
}
.EeventPageSmall i {
  font-size: 28.5px;
  line-height: 0.33;
  color: #9fb0c0;
}
.EeventPageSmall a {
  float: right;
  padding-right: 10px;
}
.EeventPageSmall:hover {
  height: 300px;
  box-shadow: 0px 2px 1px 0 rgba(194, 193, 193, 0.75);
  background-color: #2c3e50;
  border: solid 5px #1dd2af;
  color: #ffffff;
}
.EeventPageSmall p:hover {
  color: #ffffff;
  margin-top: 30px;
}
/* category event */
.EventCategory {
  margin-top: 133px;
  width: 100%;
  height: 518px;
  background-image: url("../img/category_bar.jpg");
  background-position: center;
}
.HolidaysType {
  margin: auto;
  margin-top: 80px;
}
.HolidaysType p {
  font-family: "RobotoMedium";
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.HolidaysType span:last-child {
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: #9eafc0;
  font-family: "RobotoRegular";
  text-transform: none;
}
.MoreEventCategory {
  margin: auto;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.SingEventCategory {
  width: 158px;
  height: 158px;
  border: solid 5px #f5f6f7;
  border-radius: 50%;
  margin-right: 27px;
  margin-top: 10px;
}
.SingEventCategory a {
  font-size: 5.5em;
  padding-left: 27px;
  padding-top: 18px;
  position: absolute;
  color: #ffffff;
}
.SingEventCategory:hover {
  border: solid 5px #1dd2af;
}
.SingEventCategory a:hover {
  color: #1dd2af;
  text-decoration: none;
}
.SingEventCategory span {
  position: absolute;
  padding-top: 50px;
  font-family: "RobotoRegular";
  font-size: 19px;
  line-height: 2.9;
  color: #9dafc0;
}
.SingEventCategory span:hover {
  color: #1dd2af;
}
#left {
  margin-left: 16px;
}
#lefts {
  margin-left: 26px;
}
/* NewsOther */
.NewsOther {
  margin-top: 69px;
}
.HappyClients {
  margin: auto;
}
.HappyClients p {
  font-family: "RobotoMedium";
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #2c3e50;
  text-transform: uppercase;
}
.HappyClients span:last-child {
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: #626262;
  font-family: "RobotoRegular";
  text-transform: none;
}
/* comment */
.CommentEventBlock {
  padding-top: 51px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.CommentEventOne {
  width: 475px;
  height: 179px;
  margin-left: 11px;
  opacity: 0.5;
  cursor: default;
  background-color: #ffffff;
  border: solid 1px #dedede;
}
.CommentEventOne p {
  margin: 19px;
  margin-top: 32px;
  font-family: "RobotoRegular";
  font-size: 15px;
  line-height: 1.4;
  text-align: left;
  color: #4d4d4d;
}
.CommentEventOne b {
  font-size: 15px;
  line-height: 1.39;
  color: rgba(29, 210, 175, 0.5);
}
.CommentEventOne span {
  font-size: 13px;
  line-height: 1.92;
  text-align: left;
  color: rgba(178, 178, 178, 0.5);
}
.CommentEventOne:hover {
  border-top: solid 5px #1dd2af;
  transition: all 0.4s ease;
  opacity: unset;
}
.CommentEventOne::after,
.CommentEventOne::before {
  content: "";
  position: absolute;
  bottom: -50px;
  margin-left: 280px;
  border: 21px solid transparent;
  border-top: 30px solid gray;
  transform: skewX(340deg);
}
.CommentEventOne::after {
  border-top: 30px solid white;
  bottom: -50px;
}
/* footer */
footer {
  max-width: 100%;
  height: 470px;
  margin-top: 126px;
  background-color: #2c3e50;
}
.FooterContent {
  padding-top: 63px;
}
.FooterContent h3 {
  font-family: "RobotoBold";
  font-size: 25px;
  font-weight: bold;
  line-height: 2.32;
  text-align: left;
  color: #1dd2af;
}
.Newslatter p {
  font-family: "RobotoRegular";
  font-size: 13px;
  line-height: 1.69;
  text-align: left;
  color: #ffffff;
}
.Newslatter input[type="text"] {
  width: 149px;
  height: 33px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #19242e;
  color: #626262;
}
.Newslatter input[placeholder] {
  font-size: 13px;
  line-height: 1.92;
  padding-left: 10px;
}
.Newslatter input[type="submit"] {
  width: 49px;
  height: 33px;
  color: white;
  background-color: #1dd2af;
  border: solid 1px #004437;
  cursor: pointer;
}
.LatestNews b {
  font-family: "RobotoRegular";
  font-size: 13px;
  line-height: 1.69;
  text-align: left;
  color: #ffffff;
  cursor: default;
}
.LatestNews span {
  font-family: "RobotoLight";
  font-size: 12px;
  font-weight: 300;
  line-height: 1.83;
  color: #1dd2af;
  margin-left: 45px;
}
.LatestNews img {
  background-color: #2c3e50;
  border: solid 1px #ffffff;
  margin-right: 13px;
}
.Tags a {
  padding: 7px 15px;
  border: solid 1px #ffffff;
  font-family: "RobotoRegular";
  font-size: 13px;
  line-height: 3.3;
  color: #ffffff;
  background-color: #2c3e50;
}
.Tags a:hover {
  text-decoration: none;
  color: #1dd2af;
}
.AddressFoo p {
  font-family: "RobotoRegular";
  font-size: 13px;
  line-height: 2;
  text-align: left;
  color: #ffffff;
}
.AddressFoo span {
  color: #1dd2af;
}
.FooterSocial a {
  margin-right: 20px;
  font-size: 25px;
  line-height: 1.2;
  text-align: left;
  color: #ffffff;
}
.FooterSocial a:hover {
  color: #1dd2af;
}
#hrev {
  background-color: #394c5f;
  height: 2px;
}
.FooterMenu {
  font-family: "RobotoRegular";
  text-align: center;
}
.navfoo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navfoo li {
  display: inline;
  color: white;
}
.navfoo a {
  font-size: 15px;
  text-align: left;
  color: #ffffff;
}
.navfoo a:hover {
  text-decoration: none;
  color: #1dd2af;
}
.navfoo .active {
  color: #1dd2af;
}
.FooterMenu span {
  font-size: 13px;
  text-align: left;
  color: #9dafc0;
}
.Triq a {
  position: absolute;
  margin: 7px;
  margin-top: 38px;
  font-size: 25px;
  text-align: left;
  color: #ffffff;
  cursor: pointer;
  z-index: 1;
}
.Triq a:hover {
  text-decoration: none;
  color: white;
}
.Triq::after {
  content: "";
  position: absolute;
  left: 540px;
  bottom: -72px;
  border: 48px solid transparent;
  border-bottom: 52px solid #1dd2af;
}
/* PAGES CASS STYLE  PAGES CASS STYLE PAGES CASS STYLE PAGES CASS STYLE PAGES CASS STYLE */
/* error 404 */
.error_page {
  flex: 1;
  padding-top: 50px;
}
.error_page h2 {
  font-size: 28px;
  font-family: "Tahoma", serif;
}
.error_page h4 {
  padding-top: 30px;
  padding-bottom: 35px;
  font-size: 20px;
}
.error_page span {
  color: #a6a6a6;
  font-size: 28px;
}
.error_page a {
  font-size: 16px;
  color: blue;
}
.error_page a:hover {
  text-decoration: none;
  color: #1dd2af;
}
.error_page p {
  padding-bottom: 15px;
}
/* Main content news page */
.main_content_news{
  margin-top: 70px;
}
.main_content p {
  margin-bottom: 15px;
}
.box_news{
  padding: 1px 30px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(168, 172, 185, 0.62);
}
.box_news a{
  color: black;
}
h2.post_title{
  font-size: 26px;
  margin-top: 30px;
}
.post_title a:hover{
  text-decoration: none;
  color: #1dd2af;
}
.post_meta ul{
  margin-top: 10px;
  padding: 0;
}
.post_meta ul li{
  display: inline;
  font-size: 12px;
  color: #bbb;
  text-transform: uppercase;
  margin-right: 10px;
}
.mini_log{
  padding-bottom: 10px;
}
.post_meta a{
  color: #bbb;
}
.post_meta a:hover{
  color: #bbb;
}
.news_content{
  margin-bottom: 50px;
}
.myinfobars{
  padding-top: 60px;
}
.myinfobars h3{
  text-transform: uppercase;
  margin: auto;
}
.inf {
  padding-top: 40px;
}
.inf h1{
  font-size: 25px;
}
.infinp{
  width: 200px;
  height: 30px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
}
.inf textarea{
  width: 500px;
  height: 80px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
}
.inf input[type="submit"]{
  margin: 10px;
  width: 130px;
  height: 40px;
  border-radius: 4px;
  background: #1dd2af;
  color: white;
  cursor: pointer; 
}
/* pagination news page */
/* pagination */
.paginations{
  margin: auto;
}
.paginations a{
  text-align: center;
  background: #dfdfdf;
  display: inline-block;
  line-height: 30px;
  width: 30px;
  border-radius: 4px;
  color: #999999;
  margin-left: 5px;
}
.paginations a:hover{
  text-decoration: none;
  background: #1dd2af;
  color: white;
}
.paginations .active{
  background: #1dd2af;
  color: white;
}
/* EVENT PAGE */
.LocationEventPage a{
  color: #1dd2af;
}
.LocationEventPage a:hover{
  text-decoration: none;
  color: #1dd2af;
}
.LocMap {
  margin-top: 10px;
  margin-bottom: 10px;
}
.CommentsToEventPage{
  margin-bottom: 20px;
}
.CommentsToEventPage label{
  font-family: "RobotoRegular";
  color: gray;
  font-size: 20px;
  padding-top: 5px;
  line-height: 1.4;
}
.CommentsToEventPage input{
  width: 200px;
  height: 30px;
}
.CommentsToEventPage input[placeholder]{
  line-height: 1.5;
  padding-left: 5px;
  color: #8a8a8a;
}
.CommentsToEventPage button{
  font-family: "RobotoRegular";
  font-size: 17px;
  color: #ffffff;
  border: none;
  outline: none;
  background-color: #1dd2af;
  padding: 10px;
  margin-top: 10px;
}
/* SIDEBAR */
.sidebar_my{
  margin-left: 40px;
  padding-left: 30px;
  background: white;
  box-shadow: 0 4px 8px rgba(168, 172, 185, 0.62);
}
.sidebar_my h3{
  padding-top: 20px;
  padding-bottom: 20px;
}
.sidebareventsmall{
  padding-bottom: 20px;
}
.sidebareventsmall ul li{
  list-style: none;
  margin-left: 40px;
  color: black;
  font-family: "RobotoLight";
  font-size: 17px;
}
.sidebareventsmall a{
  color: #1dd2af;
}
.sidebareventsmall a:hover{
  text-decoration: none;
  color: #1dd2af;
}
.sidebareventsmall img{
  width: 55px;
  height: 55px;
  float: left;
}
