html,
body {
  height: 100%;
}
body {
  font-family: "RobotoRegular", sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}
img {
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}
/* underline */
.header_topline {
  background-color: #3a4e61;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1.48;
}
.header_topline a:hover {
  color: #1dd2af;
  text-decoration: none;
}
.header_topline a{
  font-family: "RobotoRegular", sans-serif;
}
.soc_button {
  float: right;
}
.soc_button a {
  color: white;
  padding-right: 15px;
}
.login_contact {
  float: left;
  margin-left: 2px;
}
.login_contact p {
  float: left;
  margin: 0;
  color: #fff;
  font-size: 12px;
  margin-top: 2px;
  font-family: "RobotoRegular", sans-serif;
}
.login_contact span {
  padding-right: 15px;
  font-size: 12px;
}
.login_contact a {
  color: #1dd2af;
  text-decoration: none;
  font-size: 12px;
  padding-right: 20px;
}
#logadm {
  color: white;
}
#logadm:hover {
  color: #1dd2af;
}
/* logosite */
.logo_site {
  font-family: "RobotoBold", sans-serif;
  font-size: 30px;
  color: #2c3e50;
  font-weight: bold;
  text-decoration: none;
}
.logo_site:hover{
  text-decoration: none;
  color: #2c3e50;
}
.logo_site span {
  color: #1dd2af;
}
/* Menu site */
.main_menu {
  float: right;
  position: relative;
  margin-left: 450px;
}
#mobile-menu {
  z-index: 2;
}
/* Menu Button */
.toggle-mnu {
  display: block;
  width: 32px;
  height: 28px;
  margin-top: 8px;
}
.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}
.toggle-mnu span:after {
  top: 18px;
}
.toggle-mnu span {
  position: relative;
  display: block;
}
.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}
.toggle-mnu.on span {
  background-color: transparent;
}
.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
  -ms-transform: rotate(45deg) translate(-1px, 0px);
  transform: rotate(45deg) translate(-1px, 0px);
}
.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
  -ms-transform: rotate(-45deg) translate(6px, -7px);
  transform: rotate(-45deg) translate(6px, -7px);
}
/* button menu */
.toggle-mnu {
  float: right;
  position: absolute;
  right: 0;
}
/*Menu Button End*/
/* menu header style */
.header_under {
  padding: 30px 0;
  background-color: #ffffff;
  box-shadow: 0px 3px 1px 0 rgba(0, 0, 0, 0.25);
}
.main_menu .sf-menu {
  margin: 8px 17px 0 0;
}
.main_menu .sf-menu a {
  background: #fff;
  color: #5d6e80;
  font-size: 15px;
  font-family: "RobotoMedium", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.main_menu .sf-menu a:hover {
  color: #1dd2af;
  transition: all 0.4s ease;
  text-decoration: none;
}
.main_menu .sf-menu .active a {
  color: #1dd2af;
}
.main_menu .sf-menu li {
  background: #fff;
}
.main_menu .sf-menu li a {
  padding: 0 15px 0 0;
}
.main_menu .sf-menu .submenu {
  margin-top: 20px;
}
.main_menu .sf-menu .submenu a {
  background: #fff;
}
.main_menu .sf-menu .submenu li {
  border-bottom: 1px solid #f4f4f4;
}
.main_menu .sf-menu .submenu li a {
  padding: 10px 20px;
  font-size: 13px;
}
/* search menu */
.search_menu {
  position: absolute;
  float: right;
  border: 3px solid #2c3e50;
  border-radius: 50%;
  padding: 8px 10px;
  margin-left: 455px;
  top: -3px;
}
.search_menu a {
  color: #2c3e50;
  margin-top: 10px;
}
.search_menu a:hover {
  color: #1dd2af;
  transition: all 0.4s ease;
}
/* slider */
.slider{
  margin: 0;
}
.carousel-item img{
  width: 100%;
  height: 600px;
}
.but_prev{
  padding: 20px;
  position: absolute;
  left: 0;
  background-color: #4d4b4b;
}
.but_next{
  padding: 20px;
  position: absolute;
  right: 0;
  background-color: #4d4b4b;
}
.but_next:hover{
  background-color: #1dd2af;
}
.but_prev:hover{
  background-color: #1dd2af;
}
.but_prev>span{
  margin-top: 3px;
  margin-right: 3px;
}
.but_next>span{
  margin-top: 3px;
  margin-left: 3px;
}
.slider-info{
  margin-bottom: 165px;
}
.slider-info h3{
  font-family: "RobotoBold";
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
}
.slider-info p{
  font-family: "RobotoMedium";
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
}
.slider-btn>a{
  border-radius: 2.9px;
  padding: 15px 20px;
  border: solid 1px #ffffff;
  font-family: "RobotoMedium";
  font-size: 15px;
  line-height: 5;
  text-align: left;
  color: #ffffff;
  margin-right: 28px;
}
.slider-btn>a:hover{
  background-color: #1dd2af;
  border: solid 1px #1dd2af ;
  transition: all 0.6s ease;
  text-decoration: none;
  color: #ffffff;
}
/* location event */
.location_event{
  margin: 0;
  height: 80px;
  background-color: #3a4e61;
}
.find_you{
  padding-top: 15px;
}
.find_you p{
  color: #9fb0c0;
  font-family: "RobotoRegular";
  font-size: 20px;
  line-height: 1;
}
.find_you span{
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  color: #ffffff;
}
.distination{
  position: absolute;
  top: 20px;
  margin-left: 240px;
  background-color: #ffffff;
  border: solid 1px #19242e;
  font-family: "RobotoRegular";
  font-size: 20px;
  height: 40px;
  width: 329px;
}
.distination::placeholder{
  color: #8a8a8a;
  padding-left: 5px;
}
.text_search{
  position: absolute;
  top:25px;
  font-family: "RobotoLigth";
  font-size: 22px;
  line-height: 1.36;
  text-align: left;
  color: #9fb0c0;
  margin-left: 160px;
}
.select_date{
  height: 40px;
  width: 329px;
  position: absolute;
  top: 20px;
  background-color: #ffffff;
  border: solid 1px #19242e;
  font-family: "RobotoRegular";
  font-size: 20px;
  margin-left: 665px;
}
.date_search{
  position: absolute;
  top:25px;
  font-family: "RobotoLigth";
  font-size: 22px;
  line-height: 1.36;
  text-align: left;
  color: #9fb0c0;
  margin-left: 590px;
}
.select_date::placeholder{
  color: #8a8a8a;
  padding-left: 5px;
}
.btn_lbl{
  position: absolute;
  top: 21px;
  right: 0;
  background-color: #1dd2af;
  padding: 10px 20px;
  color: #ffffff;
}
.btn_lbl:hover{
  text-decoration: none;
  color: #ffffff;
}